.language-switcher {
    display: flex;
    gap: 10px;
    &__btn {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;

        img {
            height: 100%;
        }
    }
}
