.comments {
    &_theme_dark {
        .comments__no-comments {
            color: #fff;
        }
    }
    &__main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        &_no-comments {
            grid-template-columns: 1fr;
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }
    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__footer {
        margin-top: 15px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    &__no-comments {
        text-align: center;
    }

}
